{% extends 'partials/modelo.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Gastos Variáveis</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Gastos</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">
          <div class="card">
            <div class="card-body"><br>

              <!-- Vertical Form -->
              <form class="row g-3" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="col-lg-4">
                <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>
          <div class="pagetitle">
            <h1>Lista Gastos Variáveis</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Mês</li>
                <li class="breadcrumb-item active">Março - 2026</li>
              </ol>
            </nav>
          </div>
            <div class="card">
          <!-- Table with hoverable rows -->
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Data</th>
                    <th scope="col">Classificação</th>
                    <th scope="col">Valor</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in itens %}
                  <tr>
                    <th scope="row">{{item.nome }}</th>
                    <td>{{item.data_gasto|date:"d/m/Y"}}</td>
                    <td>{{item.classificacao}}</td>
                    <td>R$ {{item.valor}}</td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="4" class="text-center">Nenhum dado encontrado.</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with hoverable rows -->
          </div>

          </div>
        </div><!-- End Left side columns -->

      </div>
    </section>

  </main><!-- End #main -->

  {% endblock %}
